*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
a{
    text-decoration: none;
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1155px;
}
@font-face {
    font-family: monserat;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: domine;
    src: url(fonts/Domine-Regular.ttf);
}
}
.gray{
    background-color: #262829;
    position: absolute;
    width: 100%;
    z-index: 2;
    font-family: monserat;
}
.f-sect p{
    color: #fff;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0;
    margin-left: 28px;
    font-size: 12px;
    
}
.line{
    border-right: 2px solid #505253;
    padding-right: 28px;
}
.line span{
    color:#505253;
}
.fluid-pad{
    padding: 0;
}
.first-nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    top:35px;
    z-index: 1;
}
@media all and (max-width:1000px){
    .first-nav{
        position: static;
        top: 0;
    }
}
.switcher{
    width: 35px;
}
.burger{
    margin-left: 30px;
    font-size: 14px;
    font-family: monserat;
    font-weight: 400;
    color: black;
}
.burger:hover{
    color: #ffac55;
}
.carousel{
    height: 840px;
}
.carousel-item{
    height: 840px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.ondiv{
    position:absolute;
    bottom: 0;
    width: 458px;
}
.first-col{
    background-color:#ffac56;
    padding: 0 25px 0 35px;
    font-family: monserat;
}
.first-col p{
    font-size: 14px;
    color: #fff;
    margin-top: 35px;
    
}
.first-col h3{
    color: #fff;
    font-weight: 100;
    margin-bottom: 35px;
    margin-top: -15px;
}
.second-col{
    background-color:#03b6e7;
    padding: 35px 25px 25px 35px;
    border: 1px solid #00a6d3;
    transition: all 0.5s linear;
}
.second-col:hover{
  background-color: #00a6d3;
}
.insdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monserat;
}
.arrow{
    width: 26px;
    height: 26px;
}
.buty{
    margin:20px auto ;
    color: #fff;
    font-size: 13px;
    background-color: #16d428;
    border-radius: 26px;
    padding: 15px 40px;
}
.abs-sect{
    padding: 73px 0;
    position: relative;
}
.abs-grid{
    text-align: right;
    padding-right: 50px;
}
.abs-grid h6{
    font-size: 14px;
    color: #898e8f;
    font-family: monserat;
}
.abs-grid h3{
    font-family: monserat;
    font-weight: bold;
}
.abs-grid p{
    font-size: 15px;
    font-family:domine;
    color: #838b8c;
    margin: 35px 0;
}
.abs-grid a{
    font-size: 13px;
    font-family: monserat;
    color: #fff;
    background-color: #16d428;
    padding: 10px 30px;
    border-radius: 26px;
    display:inline-block;
    margin-top: 10px;
}
.pop{
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateX(-40%);
}
@media all and (max-width:1000px){
    .pop{
        display:none;
    }
}

.tree{
    background-color: #e7eff1;
    padding: 73px 0;
}
.tree h3{
    font-family: monserat;
    font-weight: bold;
}
.mb-0{
    font-family: monserat;
    font-size: 14px;
    color: #898e8f;
}
.grid-one span{
    font-size: 50px;
    color: #ffac56;
}
.pir{
    font-size: 20px;
    color: #16d428;
    font-family: monserat;
    margin-top: 20px;
    margin-bottom: 0;
}
.grid-one h6{
    font-size: 18px;
    font-weight: 700;
    color: #343a3b;
    font-family: monserat;
}
.meo {
    font-size: 15px;
    font-weight: 400;
    font-family: domine;
    color: #838b8c;
    margin: 25px 0 0 0;
}

.photo-grid{
    padding: 73px 0;
}
.async{
    height: 235px;
    width: 100%;
    padding-top: 25px;
}
.center-a{
    margin-top: 45px;
}
.center-a a{
    font-size: 13px;
    font-family: monserat;
    color: #fff;
    background-color: #16d428;
    padding: 10px 30px;
    border-radius: 26px;
    display: inline-block;
    margin-left: auto;
}
.lute-a{
    font-size: 12px;
    font-family: monserat;
    top: 20px;
    left: 30px;
    padding: 10px 30px;
    border-radius: 26px;
    border: 2px solid #ffac56;
    color: #fff;
}
.lute-b{
    font-size: 12px;
    font-family: monserat;
    top: 30px;
    left: 30px;
    padding: 10px 30px;
    border-radius: 26px;
    border: 2px solid #ffac56;
    color: #fff;
}
.text-inside{
    top: 0;
    color: #fff;
    height: 100%;
    font-family: monserat;
    transition: all 0.5s linear;
}
.text-inside:hover{
    background-color: #ffac56;
}
.text-inside h4{
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
}
.text-inside p{
    font-size: 15px;
}
.plus-icon{
    bottom: 0;
    width: 0; 
	height: 0; 
	border-top: 50px solid transparent;
	border-bottom: 50px solid #03b6e7;
	border-right: 50px solid transparent;
}
@media all and (max-width:1000px){
    .plus-icon{
        display: none;
    }
}
.orangy{
    bottom: 0;
    width: 0; 
	height: 0; 
	border-top: 50px solid transparent;
	border-bottom: 50px solid #f6a149;
	border-right: 50px solid transparent;
}
.top-carousel{
    background-color: #03b6e7;
    height: 400px;
    padding: 73px 0;
}
.ind-but{
    margin:0;
    padding: 50px 0;
}
#burt{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
}
#burt:focus{
    border:2px solid  #16d428;
}
.on-carousel{
    color: #fff;
}
.on-carousel h3{
    font-family: monserat;
}
.happy{
    color: #a6ecff;
    font-family: domine;
}
.font-paragraph{
    line-height: 28px;
}
.slide-pick{
    height: fit-content;
}
.img-diving img{
    border-radius: 50%;
}
.text-diving{
    margin-top: 15px;
    margin-left: 30px;
}
.text-diving p{
    font-size: 14px;
    color: #fff;
    font-family: monserat;
}
.text-diving span{
    font-size: 15px;
    font-family: domine;
    color: #ddf8ff;
}
.aligny{
    text-align: right;
    margin: 20px 0;
}
#image-press{
    width:60px;
    height: 60px;
}
.double-grid{
    background-color: #e7eff1;
}
.href-div{
    padding-top: 30px;
}
.href-div a{
    font-size: 12px;
    font-family: monserat;
    border: 2px solid #ffac56;
    padding: 10px 30px;
    border-radius: 26px;
    color: #ffac56;
}
#tech{
    font-size: 12px;
    font-family: monserat;
    padding: 10px 30px;
    border-radius: 26px;
    border: 2px solid #989fa0;
    color: #989fa0;
    margin-left: 10px;
    margin-right: 20px;
}
.documentation{
    margin-top: 25px;
}
.documentation h6{
    font-size: 10px;
    font-family: domine;
    color: #343a3b;
}
.documentation span{
    color: #16d428;
}
.documentation h3{
    font-size: 13px;
    font-family: monserat;
    color: #343a3b;
    font-weight: bold;
}
.documentation p{
    font-size: 12px;
    font-family: domine;
    color: #838b8c;
}
.contact-sect{
    padding: 73px 0;
}
.paddy{
    padding: 25px 40px;
    justify-content: space-between;
    border: 1px solid #e1eaec;
}
.texty-div h6{
    font-size: 18px;
    color: #343a3b;
    font-weight: bold;
    font-family: monserat;
}
.texty-div p{
    font-size: 18px;
    color: #343a3b;
    font-family: domine;
}
#wrongy{
    padding: 25px 55px;
}
.foot-section{
    padding: 73px 0 30px 0;
    background-color: #262829;
}
.last-text h5{
    font-size: 20px;
    color: #e1e1e1;
    font-family: monserat;
    margin-bottom: 25px;
    font-weight: bold;
}
.last-text p{
    font-size: 15px;
    color: #838b8c;
    font-family: domine;
    padding-right: 150px;
    margin-bottom: 35px;
}
.form-div input{
    border-radius: 26px;
    background-color: #323334;
    padding: 10px 150px 10px 30px;
    border: none;
    outline: none;
}
::placeholder{
    font-size: 13px;
    color: #5e5e5e;
    font-family: monserat;
}
.form-div button{
    font-size: 15px;
    font-family: monserat;
    color: #ffffff;
    border: none;
    border-radius: 26px;
    background-color: #16d428;
    padding: 10px 30px;
    transform: translateX(-50%);
}
.first-ul h5{
    font-size: 20px;
    color: #e1e1e1;
    font-family: monserat;
    margin-bottom: 25px;
    font-weight: bold;
}
.list-flex{
    display: flex;
}
.ully li{
    list-style: none;
    font-size: 13px;
    color: #838b8c;
    font-family: monserat;
    margin-bottom: 10px;
}
.rouing {
    padding-bottom: 100px;
    border-bottom: 1px solid #323334;
    margin-bottom: 15px;
}
.copyright p{
    font-size: 15px;
    color: #838b8c;
    font-family: domine;
}
.box-sect{
    padding: 50px 0;
}