*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1155px;
}
}
.gray{
    background-color: #262829;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.f-sect p{
    color: #fff;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0;
    margin-left: 28px;
    font-size: 12px;
}
.line{
    border-right: 2px solid #505253;
    padding-right: 28px;
}
.line span{
    color:#505253;
}
.fluid-pad{
    padding: 0;
}
.first-nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    top:35px;
    z-index: 1;
}
.switcher{
    width: 35px;
}
.burger{
    margin-left: 30px;
    font-size: 14px;
    color: black;
}
.burger:hover{
    color: #ffac55;
}
.carousel{
    height: 840px;
}
.carousel-item{
    height: 840px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.ondiv{
    position:absolute;
    bottom: 0;
    width: 458px;
}
.first-col{
    background-color:#ffac56;
}
.first-col p{
    font-size: 14px;
    color: #fff;
    margin-top: 35px;
}
.first-col h3{
    color: #fff;
    font-weight: 100;
    margin-bottom: 35px;
}
